.Erro
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 500px;
}

h1
{
    font-size: 120px;
}

.ver-filmes
{
    background: #116feb;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
}
