header
{
    background: #000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font: 16px Helvetica, sans-serif;
    padding: 15px;

}

header .primeFlix
{
  font-size: 2.5em;
  text-decoration: none;
  color: #fff;
  font-weight: bold;

}

header .meus-filmes
{
  background: #fff; 
  color: #000;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}