.filmes
{
    width: 900px;
    margin: 15px auto;
    font: 16px Verdana;
}
.lista-filmes{
    
   margin: 20px;
}
.lista-filmes .titulo
{
   text-align: center;
   margin: 10px;
}

.lista-filmes img
{
  width: 100%;
  height: 420px;
  object-fit: cover;
  display: block;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.lista-filmes a
{
    background-color: #116feb;
    color: #fff;
    display: flex;
    justify-content: center;
    
    text-decoration: none;
    padding: 10px;
    font-size: 1.2em;
    border-bottom-left-radius:8px ;
    border-bottom-right-radius: 8px;

}
.loading
{
    text-align: center;
    margin-top: 20px;
    font-family: Verdana;
}